<p style="color: green"><%= notice %></p>
<h1>Current Location </h1>

<div data-controller="geolocation">
  <button data-action="geolocation#search">search near me</button>
</div>

<p id="p1">Hello World!</p>

<h1>Locations</h1>

<div id="locations">
  <% @locations.each do |location| %>
    <%= render location %>
    <p>
      <%= link_to "Show this location", location %>
    </p>
  <% end %>
</div>

<%= link_to "New location", new_location_path %>
