<header>
    <div class='container'>
        <nav>
            <ul>
                <li><%= link_to "Map",map_path%></li>
                <li><%= link_to "Art Pieces",art_pieces_path%></li>
                <li><%= link_to "Admin Panel",admin_panel_users_path%></li>
            </ul>
        </nav>
    </div>
</header>